extends layout
block append head
	script(src="/socket.io/socket.io.js")
	meta#Viewport(name="viewport" width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

	//Components
	srcipt(src="/js/libs/gamepad.js" type="text/javascript")

block content
	div#UI
		div#controls
		div#webcam
			iframe
