extends layout

block content
    .container-fluid
        .row
            .col-md-9
                canvas#webcam1
                //button(type="button" onclick="wsavc.playStream()") Play Stream
                //button(type="button" onclick="wsavc.stopStream()") Stop Stream
                //button(type="button" onclick="wsavc.disconnect()") Disconnect Stream
            .col-md-3
                .row
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Temperature
                        .panel-body.tempData
                #dataInp
                    .row
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Vertical Front
                                .panel-body
                                    p#vertical_f
                        .col-md-4
                    .row
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Left Motor
                                .panel-body
                                    p#left_m
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Right Motor
                                .panel-body
                                    p#right_m
                    .row
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Vertical Back
                                .panel-bodyp
                                    #vertical_b
                        .col-md-4

                //
                    label(for='arm') Arm
                    input(type='range' min='0' max='1023')#arm
                    label(for='vertical_b') Vertical back
                    input(type='range' min='0' max='1023')#vertical_b
                    label(for='vertical_f') Vertical front
                    input(type='range' min='0' max='1023')#vertical_f
                    label(for='left_m') Left motor
                    input(type='range' min='0' max='1023')#left_m
                    label(for='right_m') Right motor
                    input(type='range' min='0' max='1023')#right_m

block script
    script(type='text/javascript', src='/socket.io/socket.io.js')
    //script(type='text/javascript', src='js/client.js')
    //script(type='text/javascript', src='js/binary.min.js')
    script(type='text/javascript', src='js/_webcam.js')