extends layout

block content
    .container-fluid
        .row
            .col-md-9
                .row
                    canvas#webcam.webcam
                    //button(type="button" onclick="wsavc.playStream()") Play Stream
                    //button(type="button" onclick="wsavc.stopStream()") Stop Stream
                    //button(type="button" onclick="wsavc.disconnect()") Disconnect Stream
                // Console
                .row
                        .panel.panel-primary.console
                            .panel-heading
                                h3.panel-title Messages
                            .panel-body
                                p#console Server Start
            .col-md-3
                .row
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Temperature
                        .panel-body.tempData
                            p#test 0
                #dataInp
                    .row
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Vertical Front
                                .panel-body
                                    p#vertical_f 0
                        .col-md-4
                    .row
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Left Motor
                                .panel-body
                                    p#left_m 0
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Right Motor
                                .panel-body
                                    p#right_m 0 
                    .row
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Vertical Back
                                .panel-bodyp
                                    p#vertical_b 0
                        .col-md-4
                    .row
                        .col-md-4
                        .col-md-4
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Arm
                                .panel-bodyp
                                    p#arm 0
                        .col-md-4

block script
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='js/client.js')
    //script(type='text/javascript', src='js/_webcam.js')