doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta#Viewport(name="viewport" width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        title ROV Client Interface
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
        block head
    body
        block content

        script(type='text/javascript', src='js/jquery-1.12.1.min.js')
        script(type='text/javascript', src='js/bootswatch.js')
        block script